.feed {
    flex: 0.6;
    margin: 0 20px;
}

.feed__inputContainer {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed__input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}

.feed__input form {
    display: flex;
    width: 100%;
}

.feed__input input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline: none;
    font-weight: 600;
}

.feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
}

.feed__mediaPreview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    font-size: 12px;
    color: var(--gubu-primary);
}

.feed__mediaPreview button {
    color: red;
    cursor: pointer;
    font-size: 11px;
}