.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gubu-border);
    padding: 10px 0;
    background-color: var(--gubu-white);
    z-index: 999;
    width: 100%;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header__logo h2 {
    color: var(--gubu-primary);
    margin-right: 18px;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: -0.5px;
}

.header__logo a {
    text-decoration: none;
    color: inherit;
}

.header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 35px;
    color: gray;
    background-color: #eef3f8;
}

.header__search input {
    outline: none;
    border: none;
    background: none;
    margin-left: 8px;
    font-weight: 500;
    width: 220px;
}

.header__right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    color: var(--gubu-gray);
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
    min-width: 60px;
}

.headerOption span {
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
}

.headerOption:hover {
    color: var(--gubu-black);
}

.headerOption--active {
    color: var(--gubu-primary);
    border-bottom: 2px solid var(--gubu-primary);
}

.header__avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__avatar img {
    width: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .header__search input {
        display: none;
    }

    .headerOption span {
        display: none;
    }

    .headerOption {
        margin-right: 15px;
    }
}