.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.login img {
    object-fit: contain;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .login form input {
        width: 300px;
    }

    .login form button {
        width: 315px;
    }
}

.login form {
    display: flex;
    flex-direction: column;
}

.login form input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
}

.login form button {
    width: 365px;
    height: 50px;
    font-size: large;
    color: white;
    background-color: var(--gubu-primary);
    border-radius: 5px;
    font-weight: bold;
}

.login__register {
    color: var(--gubu-primary);
    cursor: pointer;
}

.login p {
    margin-top: 20px;
}